---
Checks: >
  bugprone-*,
  performance-*,
  modernize-avoid-bind,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-redundant-void-arg,
  modernize-use-bool-literals,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-noexcept,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape

WarningsAsErrors: "*"

HeaderFilterRegex: ".*"
